<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
     <preference for="Magento\Catalog\Block\Product\View" type="Ecomm\Subscription\Block\Subscription" />
     <preference for="Ecomm\Subscription\Api\SubscriptionCronRepositoryInterface"
      type="Ecomm\Subscription\Model\SubscriptionCronRepository" />

      <type name="Magento\Catalog\Ui\Component\Listing\Columns\ProductActions">
        <plugin name="ecom_subscription_edit_data_source" type="Ecomm\Subscription\Ui\Component\Listing\Grid\Column\Action"/>
      </type>

      <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="ecomm_subscription_listing_data_source" xsi:type="string">Ecomm\Subscription\Model\ResourceModel\SubscriptionCron\Grid\Collection</item>
            </argument>
        </arguments>
      </type>

      <virtualType name="Ecomm\Subscription\Model\ResourceModel\SubscriptionCron\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">subscription_cron</argument>
            <argument name="resourceModel" xsi:type="string">Ecomm\Subscription\Model\ResourceModel\SubscriptionCron</argument>
        </arguments>
      </virtualType>

      <virtualType name="EcommVideoListGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
		<arguments>
			<argument name="collection" xsi:type="object" shared="false">Ecomm\Subscription\Model\ResourceModel\SubscriptionCron\collection</argument>
			<argument name="filterPool" xsi:type="object" shared="false">EcommVideoListGridFilterPool</argument>
		</arguments>
	</virtualType>

      <virtualType name="EcommVideoListGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
		<arguments>
			<argument name="appliers" xsi:type="array">
				<item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
				<item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
			</argument>
		</arguments>
	</virtualType>

</config>